## since the response doesn't need any modification we are returning the enitre result in json format. (Note: Do not place the comment in same line as $util or below it. It will cause lexical error) ##
$util.toJson($ctx.result)